/* my_workouts.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 90px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #7a5eb5; /* Purple heading color */
}

h3 {
    color: #7a5eb5;
    text-align: center; /* Center the day name */
    margin-bottom: 10px; /* Add space below the day name */
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #7a5eb5;
}

.day-pod {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.exercise {
    margin-bottom: 15px;
}

.set-item {
    margin-bottom: 5px;
}
