@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


#navs {
    background-color: #1f1f1f; /* Dark background color */
    font-family: 'Poppins', sans-serif;
    height: 3.5rem;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
    z-index: 999;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}



#navs a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #7a5eb5;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    padding: 5px 10px;
    /* Adjust the padding as needed */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#navs a:hover {
    background-color: #4a226b;
}


/* Dropdown Button */
.dropbtn {
    color: black;
    padding: 0;
    font-size: 34px;
    border: none;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: transparent;
}


.dropdown {
    position: relative;
    display: inline-block;
    text-align: right;
}


.dropdown-content {
    display: none;
    background-color: #1f1f1f;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    left: 0;
    text-align: left;
    box-sizing: border-box;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.rotate {
    transform: rotate(90deg);

}

.dropbtn {
    display: none;
}

.no-dropdown {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.no-dropdown a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    transition: color .15s ease-in-out;
}

.no-dropdown a:hover {
    color: #555;
}


@media (max-width: 600px) {
    .no-dropdown {
        display: none;
    }

    .dropbtn {
        display: block;
        right: 0;
    }
}

