{% extends "navbar.html" %}

{% block title %}Student List{% endblock %}

{% block additional_styles %}
    <meta name="description" content="Student List - a list of students for the trainer.">
    <title>Student List</title>
    <link rel="stylesheet" href="../static/css/my_students.css">
{% endblock %}

{% block content %}
    <div class="container student-list-container" id="container">
        <h1>Student List for {{ email }}</h1>
        {% if student_list %}
            <ul>
                {% for student in student_list %}
                    <li class="student-list-item">
                        {{ student }}
                        <!-- Display the chart for the student -->
                        <div class="chart-container">
                            <!-- {% for chart in student_charts %} -->
                            {{ student_charts }}
                            <!-- {% endfor %} -->
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No students available.</p>
        {% endif %}
    </div>
{% endblock %}

