{% extends "navbar.html" %}

{% block title %}My Workouts{% endblock %}

{% block additional_styles %}
    <meta name="description" content="Workouts - your personalized workouts.">
    <title>My Workouts</title>
    <link rel="stylesheet" href="../static/css/my_workouts.css">
{% endblock %}

{% block content %}
    <div class="container" id="container">
        {% if user_data %}
            <h3>Workout Plan from {{ trainer_email }}</h3>
            {% for day in user_data.workout_plan %}
                <div class="day-pod">
                    <h3>{{ day.day_name }}</h3>
                    <ul class="exercise-list">
                        {% for exercise in day.exercises %}
                            <li class="exercise">
                                <strong>{{ exercise.name }}</strong>
                                <ul class="set-list">
                                    {% for set in exercise.sets %}
                                        <li class="set-item">Set {{ set.number }} - Reps {{ set.reps }}, Weight {{ set.weight }} kg</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No workout data available.</p>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>
